<div class="container">
    <div class="row" >
        <div class="col-4" *ngFor="let cartItem of cartItems">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image" [style.backgroundImage]="'url(' + cartItem.imageUrl + ')'"></div>
                  
                  <mat-card-title>{{cartItem.name}}</mat-card-title>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                  <mat-card-actions style="margin-top: -20px;" class="mat-button-group">
                    <button mat-button mat-raised-button color="basic" (click)="incrementQuantity(cartItem)">+</button>
                    <p class="count">{{cartItem.quantity}}</p>
                    <button [ngClass]="cartItem.quantity === 1? 'disabled':'enabled'" mat-button mat-raised-button color="accent" style="margin-left: 5px;" (click)="decrementQuantity(cartItem)">-</button>
                  </mat-card-actions>
                </mat-card-header>
                <img mat-card-image [src]="cartItem.imageUrl" height="75px" width="75px" [alt]="cartItem.name">
                <mat-card-content>
                  <!-- <p class="desc">{{cartItem.description}}</p> -->
                  <p class="price">Price: {{cartItem.price | currency:'INR':'symbol':'1.0-0'}}</p>
                </mat-card-content>
                <mat-card-actions>
                    
                    <button type="button" mat-button mat-raised-button color="accent" (click)="cancelItem(cartItem)">Remove</button>
                </mat-card-actions>
            </mat-card>
        </div>
        
    </div>
    <div class="row" style="float: right;">
        <b>Total Price : {{totalPrice | currency:'INR':'symbol':'1.0-0'}}</b>
    </div>
</div>


