<div>
    <p>
        <mat-toolbar color="primary">
          <button mat-icon-button 
                  class="example-icon" 
                  aria-label="Example icon-button with menu icon"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <button mat-icon-button 
                  class="example-icon" 
                  aria-label="Example icon-button with home icon"
                  routerLink="/product-list"
            >
            <mat-icon>home</mat-icon>
          </button>
          <span>My App</span>
          <span class="example-spacer"></span>
          <button mat-icon-button 
                  class="example-icon add_shopping_cart-icon" 
                  aria-label="Example icon-button with heart icon"
                  routerLink="/shopping-cart"
            >
                <mat-icon>add_shopping_cart</mat-icon>
          </button>
          <!-- <button mat-icon-button 
                  class="example-icon" 
                  aria-label="Example icon-button with home icon"
                  routerLink="/products"
            >
            <mat-icon>home</mat-icon>
            Back to Home
          </button> -->
        </mat-toolbar>
    </p>
    <router-outlet></router-outlet>
</div>
